@external *;

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font: 24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #eaeaea url('bg.png');
    color: #4d4d4d;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

table {
    width: 100%;
    border: 0px;
    table-layout: fixed;
    vertical-align: top;
}

.cell,.bcell,.hcell {
    width: 80px;
    line-height:     1.4em;
}

.hcell{
    font-size: smaller;
    color: gray;
}

.bcell{
    text-align: center;
}

.fcell{
    width: 30px;
}
.button,.msbutton {
    border-radius: 50%;
    box-shadow: 0 0 3px gray;
    line-height:1em;
    font-size: 24px;
    text-align:center;
    vertical-align: middle;
    font-weight:bold;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
}

.mstime,.msslider,.msblinds,.msbutton,.msbuttons {
    vertical-align: top;
    text-align: center;
    line-height:     1.1em;
}

.mstime {
    font-size: 300px;
}
.msbutton,.header {
    margin-top: 30px;
    font-size: 60px;
    text-align: center;
}
.msblinds{
    font-size: 90px;
}

.rspanel{
    text-align: right;
    vertical-align: top;
}

.app {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    position: relative;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.field-edit {
    z-index: 2;
    box-shadow: none;
    position: relative;
    color: inherit;
    margin: 0;
    outline: none;
    width: 100%;
    font-size: 24px;
    text-align: right;
    font-family: inherit;
    background:inherit;
    border: 0;
    word-break: break-all;
}

.main {
    position: relative;
    z-index: 2;
    border-top: 1px dotted #adadad;
}

.blinds-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.blinds-list li tr {
    position: relative;
    margin-bottom: 6px;
    border-bottom: 1px dotted #ccc;
    display: block;
}

.blinds-list li:last-child {
    border-bottom: none;
}

.field-label {
    line-height: 1.4;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -ms-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
}

.info {
    text-align: center;
    color: #a6a6a6;
    padding: 0;
    margin: 0;
    text-indent: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    color: inherit;
}
